body {
  margin: auto;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: lightgrey;
}

#editor {
  position:relative;
  width: 60%;
  padding: 10px;
  top: 100px;
  left: calc(20% - 10px);
  font-size: 20px;
  font-family: Open Sans, "sans-serif";
}

#editor>p {
  padding: 5px 10px;
  width: calc(100% - 20px);
  margin: 0px;
  margin-top: 20px;
}

#editor>p:focus {
  outline: none;
  background-color: #f1f1f1;
}

#style-tooltip {
  position: absolute;
  display: block;
  padding: 2px 4px;
  background-color: #efefef;
  box-shadow: 0px 0px 1px 1px #dedede;
}

#style-tooltip>span {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding: 8px;
  transition: all 0.4s;
}

#style-tooltip>span:hover {
  cursor: pointer;
}

#style-tooltip>span[data-value="bold"][data-active="true"],
#style-tooltip>span[data-value="italics"][data-active="true"] {
  background-color: #585858;
  color: #FFF;
}

#style-tooltip>span[data-value="red"][data-active="true"] {
  background-color: red;
  color: #FFF;
}

[data-value="bold"] {
  left: -2px;
  font-weight: bold;
}

[data-value="italics"] {
  font-style: italic;
}

[data-value="red"] {
  right: -2px;
  color: red;
}
